#req .control-label:after {
   content:"*";
   color:red;
}
#newFirstName {
  margin-bottom: 5px;
}
#newPhone {
  margin-bottom: 10px;
}
#newCompanyAddress {
  margin-bottom: 10px;
}

.input-group {
    display: none;
}
